.dfn {
   border: dotted 1px #AAA;
   background-color: #EDA;
   padding: 2px 4px;
}

dl dd  p:first-child {
   margin-top: 0;
}

.simple li p:first-child {
   margin: 0;
}

.toctree-wrapper .caption {
   font-weight: bold;
}

div.admonition-todo {
   background-color:  #e5ffe5;
}

abbr {
   border-bottom: none;
}

kbd {
   font-family:Monospace;
   padding:2px 6px;
   background:#eee;
   border:3px solid #bbb;
   border-top-width:1px;
   border-bottom:3px solid #777;
}

